.form {
  padding-top: 36px;
  text-align: center;
  margin-bottom: 32px;
}

.form-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
  margin-right: 8px;
  outline: none;
  transition: border-color 250ms linear;
}

.form-input:hover {
  border-color: #000000;
}
.form-input:focus {
  color: #2e2f42;
  border-color: #4e75ff;
}

.btn {
 padding: 0 16px; 
 height: 40px;
 background: #4e75ff;
 border-radius: 8px;
 font-weight: 500;
 line-height: 150%;
 letter-spacing: 0.04em;
 color: #fff;
 border-color: transparent;
 transition: background-color 250ms linear;
}

/* .form-btn { 
  width: 91px;
} */

.btn:hover,
.btn:focus {
  background: #6c8cff;
}
