.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  overflow: hidden;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.info-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
  padding: 4px 25px 4px 20px;
}

.info-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-list-item-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info-list-item-data {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-modal {
  width: 1120px !important;
}