
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

@import "simplelightbox/dist/simple-lightbox.min.css";
@import "izitoast/dist/css/iziToast.min.css";

@import url('./form.css');
@import url('./gallery.css');

